/* body{
    padding: 0px;
    margin: 0px;
}
.grid-container{
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.grid-item{
    background: brown;
} */


body {
    margin: 0em;
    padding: 0em;
}

nav {
    padding: 1em 3.75em 0em 3.75em;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.logo img{
    height: 6.25em;
}


.menu {
    text-align: right;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    border: none;

}

.btn-cta {
    background: #0540F2;
    color: white;
}

h6{
    font-family:'Ubuntu', sans-serif ;
    font-size: 1.25em;
    color: rgba(141, 153, 174, 1);
}

.enlaces-nav{
display: flex;
flex-direction: row;
justify-content: flex-end;
justify-content: space-around;

}

.CTA{
    padding: 1em 3.75em 0em 3.75em;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.CTA .descripcion{
    background: blanchedalmond;
    display: flex;
    flex-direction: column;
}

body{
    font-family: sans-serif;
    background: #FAFBFF;
}

.card{
    width: 368px;
    height: 324px;
    left: 107px;
    top: 3108px;
    background: #FFFFFF;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    text-align: center;
    display: flex;
}

.card:hover{
    box-shadow: 0px 4px 24px rgba(0,0,0,0,08);
    transform: translateY(-6px)scale(1.02);
}

.titulo{
    
    width: 502px;
    height: 114px;
    left: 818px;
    top: 2274px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 57px;

color: #0540F2;
}

.descripcion{

    color: 2B2D42;
    width: 502px;
    height: 99px;
    left: 818px;
    top: 2408px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.005em;
}

.titulo1{
    width: 313px;
height: 28px;
left: 892px;
top: 2547px;
/* H5 */
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #0583F2
}

.descripcion1{
    width: 409px;
height: 66px;
left: 892px;
top: 2583px;

/* Subtitle_1 */

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.0015em;

/* neutral/body */

color: rgba(43, 45, 66, 0.9);
}

.bloque1{
    display: flex;
    justify-content: center;
}

.titulocentro{
    width: 628px;
    height: 114px;
    left: 393px;
    top: 2942px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 57px;
    text-align: center;
    color: #0540F2;
}

.textocard{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.005em;
    color: rgba(43, 45, 66, 0.9);
}

.pic{
    width: 72px;
    height: 72px;
    left: 148px;
    top: 160px;
    background: url(.png);
}

.nombre{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #8D99AE;
}

.puesto{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #C4C4C4;
}

.navigation{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.sitios{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    background: #0540F2;
    border-radius: 8px;
}

.texto1{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #0540F2;
}

.textogrande{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 0.005em;
    color: rgba(43, 45, 66, 0.9);
}

.intro{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: rgba(43, 45, 66, 0.9);
}

.b1{
    display: flex;
    text-align: left;
}

.texto11{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #0540F2;
}

@media only screen and (max-width: 700px){
    nav{
        background: 
    }
}