/* body{
    padding: 0px;
    margin: 0px;
}
.grid-container{
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.grid-item{
    background: brown;
} */


body {
    margin: 0em;
    padding: 0em;
}

nav {
    padding: 1em 3.75em 0em 3.75em;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.logo img{
    height: 6.25em;
}


.menu {
    text-align: right;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    border: none;

}

.btn-cta {
    background: #0540F2;
    color: white;
}

h6{
    font-family:'Ubuntu', sans-serif ;
    font-size: 1.25em;
    color: rgba(141, 153, 174, 1);
}

.enlaces-nav{
display: flex;
flex-direction: row;
justify-content: flex-end;
justify-content: space-around;
}

/* Registro*/

.CTA{
    padding: 1em 3.75em 0em 3.75em;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.CTA .descripcion{
    display: flex;
    flex-direction: column;
}

.registro{
    background: white;
    margin: 3em;
    padding: 3em;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.registro .input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

input{
    background: #FFFFFF; 
    border: none; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); 
    width:100%;
    height: 2em;
}

.btn-registro{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    border: none;
    display: flex;
    justify-content: center;
}

/* H's*/

h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 3.81em;
    margin: 0rem;
}

h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 3.06em;
    margin: 0rem;
    color: #0540F2;
}

h4 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 2.19em;
    margin: 0rem;
    color: #0540F2;
}

h5 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0rem;
    color: #0540F2;
}

h6{
    font-family:'Ubuntu', sans-serif ;
    font-size: 1.25em;
    color:rgba(43, 45, 66, 0,9); 
}

.sub-1{
    font-family: Ubuntu;         
    font-weight: normal;
    font-size: 1.5em;
    margin: 0rem;
    color: #2B2D42;
}

.sub-2{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0rem;
    color: #0540F2;
}

/* Fuentes bibliográficas y*/

.bibliografia{
    display: flex;
    justify-content: center;
}

.fuentes{ 
    padding: 3em;
    margin: 3em;
    display: flex;
    justify-content: space-around;
}

.sec-inf{
    padding: 1em 3.75em 0em 3.75em;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    display: flex;
    justify-content: space-between; 
}

.informacion{
    display:flex;
    flex-direction: column;
}

.info{
    display:flex;
    flex-direction: column;
}

.indicaciones{
    display: grid;
    grid-template-columns: 10% 90%;
}

.numero{
    width: 40%;
    display: flex;
    flex-direction: column;  
}

.icono{
    padding: 1em;
    width: 40;
}

.pasos{
    display: flex;
    flex-direction: column;
}

.paso{
    display: flex;
    justify-content: space-between;
}

.opiniones{
    padding: auto;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

/* comienza publicidad*/

.pub-susc{
    background: #0540F2;
    margin: 3em;
    padding: auto;
    border-radius: 0.5em;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    display: flex;
    justify-content: space-around;
}

.publicidad{
    display: flex;
    justify-content: center;
}

.info{
    background: none;
    margin: 1em;
    padding: 1em;
}

.btn-susc{
    background: #ffffff;
    color: #0540F2;
    margin: auto;
}

.button-pub{
    display: flex;
    align-items: center;
    margin: 0em 4.5rem;
}

.h4-white{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 2.19em;
    margin: 0rem;
    color: #ffffff;
}

/* comienza footer*/

.footer{
    background:white;
    padding: 1em;
    margin: 0em 0em;
}

.footer .logofooter{
    display: flex;
    justify-content: center;
    height: 3.25em;
}

.body{
    font-family: 'Work Sans', sans-serif;
    font-size: 0.81em;
    color:#0540F2;
    display: flex;
    justify-content: center;
    padding: auto;
    margin: 1em;
}

.redes{
    display: flex;
    justify-content:center;
    padding: .5em;
    margin: 0em;
}

.redes img{
    padding: 0.5em;
}


