/* Inicio de estilos para textos */

h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 3.81em;
    margin: 0rem;
}

h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 3.06em;
    margin: 0rem;
    color: #0540F2;
}

h4 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 2.19em;
    margin: 0rem;
    color: #0540F2;
}

h5 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    margin: 0rem;
    color: #0540F2;
}

h6 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.005em;
    margin: 0rem;
    color: rgba(43, 45, 66, 0.9);
}

.subtitle-1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin: 0rem;
}

.body-1 {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 1.0625em;
    letter-spacing: 0.005em;
    margin: 0rem;
}

.body-2 {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 0.937em;
    letter-spacing: 0.0025em;
    margin: 0rem;
}

.overline {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625em;
    text-transform: uppercase;
    margin: 0rem;
    color: #47B6EE;
}

.caption {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    letter-spacing: 0.004em;
    margin: 0rem;
    color: #47B6EE;
}

.link {
    color: #0E2E8D;
}

/* Fin de estilos para textos */

/* Inicio de estilos para botones  */

button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.93em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5em;
    border: none;
}

.btn-primary {
    background: #0540F2;
    color: white;
}

.btn-secondary {
    background: #FFFFFF;
    color: #0540F2;
    border: 1px solid #0540F2;
}

/* Fin de estilos para botones  */

body {
    margin: 0em;
    padding: 0em;
    background-color: #FAFBFF;
}

nav {
    padding: 1em 3.75em 0em 3.75em;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.logo img{
    height: 6.25em;
}

.search {
    text-align: center;
}

.search input {
    border: none;
    padding: 0.9em 3em 0.9em 1em;
    margin-right: 0.75em;
    border-radius: 0.5em;
    width: 50%;
    background-image: url('img/search-solid.png');
    background-size: 1.5em;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Lora', serif;
    font-size: 0.75em;
}

.menu {
    text-align: right;
}

.navless {
    padding: 3.5em 7.5em;
}

.story-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.5em 0em 5.75em 0em;
    /* overflow-x: scroll; */
}

.story-container .category .subtitle-1 {
    text-align: center;
    color: rgba(43, 45, 66, 0.9);
    margin: 0.5rem 0em 0em 0em;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.story .icon {
    width: 9em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    /* border: solid 0.15em transparent;
    background: linear-gradient(white, white), linear-gradient(59.07deg, #00476B 2.74%, #F2E2DC 116.88%);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.story img {
    width: 2.5em;
}

.news-card {
    background-color: white;
    /* width: 23em; */
    width: 33%;
    border-radius: 0.5em;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.10);
    color: rgba(43, 45, 66, 0.9);
}

.news-card .photo {
    padding: 1.5em 1.5em 0.75em 1.5em;
}

.news-card img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0.25em;
}

.news-card .info{
    padding: 0em 1.5em 1.5em 1.5em;
}

.news-details {
    display: flex;
    justify-content: flex-start;
}

.hero-container {
    display: grid;
    grid-template-columns: 70% 30%;
    /*height: 500px;*/
    margin-top: 4rem;
}

.hero-container .news-card {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
    width: 100%;
}

.hero-container .news-card img {
    border-radius: 0.5em;
}

.hero-container .news-card .info {
    padding: 1em 0em 0em 0em;
    margin: 0em 1.5em 1.5em 1.5em;
}

.hero-container .news-card h2 {
    margin: 1rem 0rem;
}

.hero-news-feed {
    padding-left: 2em;
}

.hero-news-feed .thick {
    margin-left: 0em;
    border: 5px solid #47B6EE;
    border-radius: 0.625em;
    width: 25%;
    background-color: #47B6EE;
}

.hero-news-feed h4 {
    margin: 0.75rem 0rem;
}

.hero-news-container {
    height: 740px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.hero-news-container::-webkit-scrollbar {
    display: none;
    /* width: 5px; */
}

/* .hero-news-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #8D99AE;
    border-radius: 10px;
}

.hero-news-container::-webkit-scrollbar-thumb {
    background: #8D99AE;
    border-radius: 10px;
} */

.hero-news h5 {
    color: #8D99AE;
    margin: 0.75rem 0rem;
}

.hero-news-feed .thin {
    border: 0.5px solid rgba(43, 45, 66, 0.9);
    border-radius: 0.625em;
    background-color: rgba(43, 45, 66, 0.9);
    margin-bottom: 3.5rem;
}

.hero-news-feed .last {
    margin-bottom: 0em;
}

.titles {
    margin: 6em 0em 1.5em 0em;
    display: flex;
    justify-content: stretch;
}

.titles h3 {
    padding-right: 0.75rem;
    white-space: nowrap;
    align-self: flex-end;
}

.titles h5 {
    padding-left: 1.5rem;
    white-space: nowrap;
    align-self: flex-end;
}

.titles span {
    background:rgba(43, 45, 66, 0.9);
    height: 1px;
    width: 100%;
    align-self: flex-end;
}

.cards-container {
    display: flex;
    justify-content: space-between;
}

.cards-container .news-card {
    margin-left: 3em;
}

.cards-container .first {
    margin-left: 0;
}

.cards-container .news-card .overline {
    margin: 0.75rem 0;
}

.cards-container .news-card h4 {
    color: rgba(43, 45, 66, 0.9);
}

.cards-container .news-card .body-2 {
    margin-top: 0.75rem;
}

.promoted-card {
    background-color: white;
    /* width: 23em; */
    width: 33%;
    border-radius: 0.5em;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.10);
    color: rgba(43, 45, 66, 0.9);
}

.promoted-company {
    display: flex;
    margin: 1.5em auto 0.75em 1.5em;
}

.promoted-card .promoted-logo {
    align-self: center;
    margin-right: 0.75em;
}

.promoted-card .promoted-logo img {
    object-fit: cover;
    width: 3.5em;
    height: 3.5em;
    border-radius: 0.5em;
    border: 1px solid #8D99AE;
}

.promoted-card .promoted-info {
    align-self: center;
}

.promoted-card .promoted-info h6{
    margin-bottom: 2px;
}

.promoted-card .photo {
    padding: 0em 1.5em 0.75em 1.5em;
}

.promoted-card img {
    width: 100%;
    /* aspect-ratio: 16 / 9; */
    height: 10.625em;
    object-fit: cover;
    border-radius: 0.25em;
}

.promoted-card .info {
    padding: 0.75em 1.5em 1em 1.5em;
}

.promoted-card .info h4 {
    color: rgba(43, 45, 66, 0.9);
    padding-bottom: 0.75rem;
}

.promoted-card button {
    float: right;
    margin: 0 1.5em 1.5em auto;
}

.promoted-card {
    margin-left: 3em;
}

.banner {
    margin: 6em auto;
    width: 85%;
    background: #0540F2;
    border-radius: 8px;
    display: flex;
}

.banner h4 {
    padding-bottom: 0.5em;
    color: white;
}

.banner h6 {
    color: #47B6EE;
}

.banner-info {
    padding: 3em 3em 3em 4.5em;
}

.banner button {
    margin: auto 4.5em auto auto;
    white-space: nowrap;
}

/* comienza footer */

.footer{
    background:white;
    padding: 1em;
    margin: 0em 0em;
}

.footer .logofooter{
    display: flex;
    justify-content: center;
    height: 3.25em;
}

.body{
    font-family: 'Work Sans', sans-serif;
    font-size: 0.81em;
    color:#0540F2;
    display: flex;
    justify-content: center;
    padding: auto;
    margin: 1em;
}

.redes{
    display: flex;
    justify-content:center;
    padding: .5em;
    margin: 0em;
}

.redes img{
    padding: 0.5em;
}
